<!DOCTYPE html>
<html>
<head>
  <title>Update student data</title>
</head>
<body>
  <h3>Update the student</h3>
  <form action="/students/update" method="POST">
    <h3>Enter the Id of the student you want to update.</h3>
    <p>ID:</p><input type="text" name="id" placeholder="Id"><br>
    <p>Name:</p><input type="text" name="name" placeholder="Name"><br>
    <p>Campus:</p><input type="text" name="campus" placeholder="Campus"><br>
    <p>Age:</p><input type="text" name="age" placeholder="Age"><br>
    <button type="submit">Update</button>
  </form>
</body>
</html>