.octopus{
	margin: 25%;
	position: absolute;
	top: 60px;
	left: 40px;
	z-index: -1;
}
.hat{
	margin: 25%;
	position: absolute;
	top: 10px;
	left: 20PX;
}
.glasses{
	margin: 25%;
	position: absolute;
	top: 160px;
	left: 80px;
}